:root {
  /* Cores principais */
  --color-dark: #1c1d22;
  --color-dark-50: #1c1d2250;
  --color-white: #ffffff;
  --color-white-10: #ffffff10;
  --color-grey: #1c1d2210;

  /* Cores de cards */
  --color-dark-card: #292b31;
  --color-light-card: #ffffff;

  /* Cores de destaque */
  --color-orange: #ffa048;
  --color-orange-10: #ffa04810;
}

/* Tema escuro */
:root[class="dark"] {
  /* Você pode sobrescrever cores específicas para o tema escuro aqui */
  --color-dark: #111827;
  --color-white: #1f2937;
  --color-grey: #374151;
  --color-dark-card: #1f2937;
  --color-light-card: #374151;
}

/* Utilities relacionadas às cores */
@layer utilities {
  /* Cores de texto customizadas */
  .color-custom-dark {
    color: var(--color-dark) !important;
  }

  .color-custom-dark-50 {
    color: var(--color-dark-50) !important;
  }

  .color-custom-white {
    color: var(--color-white) !important;
  }

  .color-custom-grey {
    color: var(--color-grey) !important;
  }

  .color-custom-orange {
    color: var(--color-orange) !important;
  }

  .color-custom-orange-10 {
    color: var(--color-orange-10) !important;
  }

  /* Bordas customizadas */
  .border-grey {
    border-color: var(--color-grey) !important;
  }

  /* Backgrounds customizados */
  .bg-nav-bar-dark {
    background-color: var(--color-dark) !important;
  }

  .bg-side-panel {
    background-color: var(--color-white) !important;
  }

  .bg-dashboard {
    background-color: var(--color-white) !important;
  }

  .bg-white {
    background-color: var(--color-white) !important;
  }

  .bg-white-10 {
    background-color: var(--color-white-10) !important;
  }

  .bg-grey {
    background-color: var(--color-grey) !important;
  }

  .bg-dark {
    background-color: var(--color-dark) !important;
  }

  .bg-card-dark {
    background-color: var(--color-dark-card) !important;
  }

  .bg-card-light {
    background-color: var(--color-light-card) !important;
  }

  .bg-orange {
    background-color: var(--color-orange) !important;
  }

  .bg-orange-10 {
    background-color: var(--color-orange-10) !important;
  }
}
