@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root{
  --color-dark: #1C1D22;
  --color-white: #FFFFFF;
  --color-white-40: #FFFFFF40;
  --color-white-20: #FFFFFF20;
}

@layer utilities{
  .color-custom-dark{
    color: var(--color-dark) !important;
  }

  .bg-nav-bar-dark{
    background-color: var(--color-dark) !important;
  }

  .bg-side-panel{
    background-color: var(--color-white) !important;
  }

  .bg-dashboard{
    background-color: var(--color-white) !important;
  }

  .bg-white{
    background-color: var(--color-white) !important;
  }
  
  .bg-white-40{
    background-color: var(--color-white-40) !important;
  }

  .bg-white-20{
    background-color: var(--color-white-20) !important;
  }
}

@layer base {
  h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  button{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  span{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  caption{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }
}
