@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --color-dark: #1c1d22;
  --color-white: #ffffff;
  --color-white-10: #ffffff10;
  --color-grey: #1c1d2210;
}

@layer utilities {
  .color-custom-dark {
    color: var(--color-dark) !important;
  }

  .border-grey {
    border-color: var(--color-grey) !important;
  }

  .color-custom-white {
    color: var(--color-white) !important;
  }

  .color-custom-grey {
    color: var(--color-grey) !important;
  }

  .bg-nav-bar-dark {
    background-color: var(--color-dark) !important;
  }

  .bg-side-panel {
    background-color: var(--color-white) !important;
  }

  .bg-dashboard {
    background-color: var(--color-white) !important;
  }

  .bg-white {
    background-color: var(--color-white) !important;
  }

  .bg-white-10 {
    background-color: var(--color-white-10) !important;
  }

  .bg-grey {
    background-color: var(--color-grey) !important;
  }

  .bg-dark {
    background-color: var(--color-dark) !important;
  }
}

@layer base {
  h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  button {
    font-family: "Exo 2", sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  span {
    font-family: "Exo 2", sans-serif;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  caption {
    font-family: "Exo 2", sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }
}
