@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  button{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  span{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }

  caption{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 100%;
    letter-spacing: 0px;
  }
}